@import url('https://fonts.cdnfonts.com/css/futura-pt');

section {
    background-color: #101D27;
    color: white;
    padding: 4em;
    background-image: url('../static/images/type-bg.png');
}

h3 {
    font-size: 20px;
    font-family: 'Futura PT', sans-serif;
}

.seek {
    color: #F36C55;
    text-align: end;
}

.line-1 {
    overflow: hidden; 
    border-right: 2px solid white; 
    white-space: nowrap; 
    /* margin: 0 auto;  */
    max-width: max-content;
    font-size: 30px;
    font-family: 'Futura PT', sans-serif;
    font-weight: 700;
    animation: 
      typing 6s steps(80, end) 1s 1 normal both,
      blink-caret 1s steps(15, end) infinite;
  }

  .line-2 {
    position: relative;
    overflow: hidden; 
    border-right: 2px solid white; 
    white-space: nowrap; 
    margin-right: 0;
    margin-left: auto;
    max-width: max-content;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Futura PT', sans-serif;
    animation: 
      typing 7s steps(80, end) 4s 1 normal both,
      blink-caret 1s steps(15, end) infinite;
  }

  .line-3 {
    overflow: hidden; 
    border-right: 2px solid white; 
    white-space: nowrap; 
    /* margin: 0 auto;  */
    font-size: 30px;
    font-weight: 700;
    font-family: 'Futura PT', sans-serif;
    max-width: max-content;
    animation: 
      typing 8s steps(78) 9s 1 normal both,
      blink-caret 1s steps(15, end) infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100%; }
  }

  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
  }
  

